// GRID & RESPONSIVE
.cards-pet-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-pet-show {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-pet-show {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-pet-show {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-pet-show {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-pet-show {
    grid-template-columns: 1fr 1fr;
  }
}

// IMG & MAP

.container-show {
  margin: 32px 80px;
  h1 {
    margin-top: 32px;
  }
  h3 {
    margin-bottom: 32px;
  }
}

.content {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
}

.content-img {
  object-fit: contain;
  display: block;
  width: 600px;
  height: 400px;
}

.custom-control {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 50%;
}

.custom-control-nav {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 8px;
}

.pet-img-main {
  object-fit: cover;
  width: 550px;
  height:400px;
  margin: auto;
  img {
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
}

.pet-img-secondary {
  display: flex;
  margin-top: 32px;
  justify-content: space-around;
}

.pet-img-secondary-add {
  object-fit: cover;
  height: 150px;
  width: 150px;
}


// STORY & DETAILS

.story {
  text-align: center;
  width: 50%;
  h2 {
    padding-top: 16px;
  }
}

.story-content {
  padding: 32px;
  text-align: center;
  justify-content: space-between;
}

.pet-owner-content {
  width: 50%;
}

.pet-caracs-health {
  display: flex;
  justify-content: space-between;
}

.pet-caracs {
  margin: auto 16px;
  width: 45%;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  h4 {
    padding: 32px 0;
  }
  ul {
    list-style-type: none;
    padding: 0px;
  }
}

.pet-health {
  margin: auto 16px;
  width: 45%;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  h4 {
    padding: 32px 0;
  }
  ul {
    list-style-type: none;
    padding: 0px;
  }
}

.owner-infos {
  text-align: center;
  margin-top: 32px;
  h4 {
    padding-top: 32px;
  }
  a {
    text-decoration: none;
    border: 3px solid #E85D05;
    background-color: #E85D05;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
      border: 3px solid #E85D05;
      background-color: #F5F5F5;
    }
  }
}

.owner-infos-content {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  p {
    padding-left: 16px;
    margin: auto 0;
  }
  img {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.contact {
  margin-top: 32px;
  margin-bottom: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0;
  }
  a {
    text-decoration: none;
    border: 3px solid #E85D05;
    background-color: #E85D05;
    color: black;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    &:hover {
      border: 3px solid #E85D05;
      background-color: #F5F5F5;
    }
  }
}

.link-pet-owner {
  margin: 32px 0;
  a {
    text-decoration: none;
    border: 3px solid #00EAD3;
    background-color: #00EAD3;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    &:hover {
      border: 3px solid #00EAD3;
      background-color: #F5F5F5;
    }
  }
}

.pet-show-path {
  text-decoration: none;
  color: #E85D05;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
