    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-2 item">
                        <h3>Contact</h3>
                          <ul>
                            <li><dt>Email:</dt>
                           <a href="mailto:#">contact@adoptme.com</a></li>
                           <li><dt>Téléphone:</dt>
                           <a href="tel:#">1.555.652.258</a></li>
                         </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                      <div id="center">
                        <h3>A propos</h3>
                      </div>
                        <div id="justify">
                        <ul>
                            <li><a href="#">Entreprise</a></li>
                            <li><a href="#">Equipe</a></li>
                            <li><a href="#">Carrières</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 item text">
                        <h3>AdoptMe</h3>
                        <p>Nous sommes un service géolocalisé qui permet de connecter les personnes qui souhaitent faire adopter leurs animaux et celles qui veulent trouver leur compagnon pour la vie. Partenaire de la SPA.</p>
                    </div>
                      <div class="col item social col-md-3" id="social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                      </div>
                </div>
                <p class="copyright">Adopt Me © 2021</p>
            </div>
        </footer>
    </div>

