<div class="container"> 
  <h1>Envoyez un message à <%= @pet.user.first_name %></h1>

  <p id="warning">Attention ! Adopter un animal est un acte qui vous engage sur plusieurs années ! </p>
  <p>Avant d'adopter, vérifiez d'avoir les ressources nécessaires à son bien-être.</p>

  <%= simple_form_for [@pet, @adoption] do |f| %>
    <%= f.input :adoption_message, label: "Votre message", placeholder:"Dites à #{@pet.user.first_name} pourquoi vous voulez adopter son animal.", input_html: { class: "input-field" }, label_html: { class: 'label-field' } %>
    <%= f.submit "Envoyer à #{@pet.user.first_name}", class: "btn btn-log" %>
  <% end %>
</div> 
