.btn-log {
    color: $white;
    background-color: $orange;
    font-weight: 400;
    margin-bottom: 16px;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.btn-log:hover {
    color: $white;
    opacity: 1;
}

.btn-submit {
    color: $white!important;
    opacity: 0.8!important;
    transition: opacity 0.5s!important;
}

.btn-submit:hover {
    color: $white!important;
    background-color: $orange!important;
    opacity: 1!important;
}
