.content-home {
  background-color: white !important;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: black;
    font-weight: bold;
    font-size: 42px;
    margin: 0px;
  }
}

.main {
  min-height: 100vh;
}

body {
   background-color: white !important;
}
