// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "content";
@import "form";
@import "navbar";
@import "searchbar";
@import "footer";
@import "btn";
@import "filter";
@import "external";

.autolink {
    color: $orange;
    opacity: 0.6;
}

.autolink:hover {
    color: $orange;
    text-decoration: none;
    opacity: 1;
}
