.transparence {
  opacity: 0.6;
  border: 1px solid rgba(100, 100, 100, 0.8);
  border-radius: 4px 0 0 4px;
  &:focus {
    opacity: 0.8;
  }
}

.btn-search {
  opacity: 0.8;
  padding: 0 32px;
  &:hover {
    opacity: 0.6;
    background-color: #4D3620;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
    border: 1px solid transparent;
  }
  &:active {
    opacity: 1;
  }
}

.home-searchbar-range {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(100, 100, 100, 0.8);
  border-bottom: 1px solid rgba(100, 100, 100, 0.8);
  background-color: white;
  opacity: 0.6;
}

.btn-home-searchbar {
  border: 1px solid rgba(100, 100, 100, 0.8);
}

.range-value {
  color: black;
  padding: 0 8px;
}

.ap-name {
  color: #0E0000
}
